  #inputContainer{
    padding-left: 0;
    padding-right: 0;
    align:center;
    margin:auto;
    right:50%;
  }
  p{
    color: white;
    margin: 4px 2px;
    background-color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    float: center;
  }
  #inputText{
    margin-left: 35%;
  }
  #submitButton{
    border: 2px solid;
    color: white;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
    border-color: #5b5a5a;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    float: center;
  }
  #inputBox{
      border: none;
      padding: 4px 10px;
      font-size:24px;
      width: 60px;
      height: 25px;
      text-align: center;
      background: black;
      color: white;
      margin-left: auto;
      margin-right: auto;
      float: center;
  }
  body{
    background-color: black;
  }
  h1 {
      color: white;
      text-align: center;
      font-size: 400%;
  }
  canvas{
    width: 500px;
    height: 500px;
    cursor: move;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
